@model trashcollector.Models.CustomerAddressAccountViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome, @Html.DisplayFor(model => model.Customer.FirstName)</h1>

<h4>Update Preferences</h4>
<hr />
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Customer.FirstName):
                </th>
                <td>
                    @Html.DisplayFor(model => model.Customer.FirstName)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Customer.LastName):
                </th>
                <td>
                    @Html.DisplayFor(model => model.Customer.LastName)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Address.Street):
                </th>
                <td>
                    @Html.DisplayFor(model => model.Address.Street)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Address.City):
                </th>
                <td>
                    @Html.DisplayFor(model => model.Address.City)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Address.State):
                </th>
                <td>
                    @Html.DisplayFor(model => model.Address.State)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Address.zipCode):
                </th>
                <td>
                    @Html.DisplayFor(model => model.Address.zipCode)
                </td>
            </tr>
            @if (Model.Account.Balance == 0)
            {
                <tr class="table-success">
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Account.Balance):
                    </th>
                    <td>
                        $ @Html.DisplayFor(model => model.Account.Balance)
                    </td>
                </tr>
            }
            else
            {
                <tr class="table-warning">
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Account.Balance):
                    </th>
                    <td>
                        $ @Html.DisplayFor(model => model.Account.Balance)
                    </td>
                </tr>
            }
            <tr> @* Add logic to display new customer/no pickups if date == 1/1/1001 *@
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Account.LastPickupDate):
                </th>
                <td>
                    @Html.DisplayFor(model => model.Account.LastPickupDate)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.Account.PickupDay):
                </th>
                <td>
                    @Html.DisplayFor(model => model.Account.PickupDay)
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-inline">
                <div class="form-group">
                    <label asp-for="Account.PickupDay" class="control-label" style="padding-right: 20px"></label>
                    <select asp-for="Account.PickupDay" class="form-control" asp-items="new SelectList(new List<DayOfWeek> { DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday })"></select>
                </div>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save changes" class="btn btn-outline-primary btn-sm" style="margin-top: 20px"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
