@model trashcollector.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Filter";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<div class="row">
    <div class="col">
        <h1>Welcome, @Html.DisplayFor(model => model.Employee.FirstName)</h1>

        <h4>Here are the pickups for the @Html.DisplayFor(model => model.Employee.ZipCode) area</h4>
    </div>
    <form asp-action="Filter">
        <div class="form-group">
            <select class="col form form-control-sm" asp-for="Day" value="Day.DayOfWeek" asp-items="new SelectList(new List<DayOfWeek> { DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday })"></select>
            <input type="submit" value="Filter" class="btn btn-outline-primary btn-sm" style="margin-top: 20px" />
        </div>
    </form>
</div>
@if (Model.Customers.Count == 0)
{
    <h4>There are no customers for this day.</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Street Address
                </th>
                <th>
                    Last Pickup Date
                </th>

                <th>Account Details</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.LastPickupDate)
                    </td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">
                            Get Details
                        </a>

                    </td>
                </tr>
            }
        </tbody>

    </table>
}

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
